.user-profile {
    .fm-input {
        display: block;
        width: 20em;
        font-size: 1.1em;
    }
    .fm-footer {
        margin-top: 10px;
        .btn {
            padding: 10px 20px;
        }
    }
}
.suggested-games {
    &-carousel {
        overflow-x: auto;

        .game {
            min-width: 200px;
            position: relative;
            display: inline-block;
            vertical-align: top;
                text-align: center;
            .img-wrap {
                padding: 20px;
                img {
                    height: 200px;
                }
            }
        }
    }
}
