.user-profile {
    .fm-input {
        display: block;
        width: 20em;
        font-size: 1.1em;
    }
    .fm-footer {
        margin-top: 10px;
        .btn {
            padding: 10px 20px;
        }
    }
}
