html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400; }

.material-icons {
  vertical-align: middle; }

header {
  background: #c50027; }
  header .logo {
    width: 140px;
    text-align: center; }
    header .logo img {
      height: 100%; }
    header .logo a {
      padding: 0; }
      header .logo a:hover {
        background: #c50027; }
  header nav {
    position: relative;
    padding: 0 10px; }
  header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header ul li {
      list-style: none;
      border-width: 1px 1px 0 1px;
      height: 50px;
      line-height: 50px;
      white-space: nowrap; }
      header ul li:last-child {
        border-width: 1px 1px 0 0; }
      header ul li a {
        color: white;
        text-decoration: none;
        padding: 0 20px;
        height: 100%;
        box-sizing: border-box;
        display: block; }
        header ul li a:hover {
          background: #d0183d; }
  header .search-bar {
    margin: 0 auto;
    width: 55%;
    position: relative;
    padding: 5px 0;
    box-sizing: border-box; }
    header .search-bar .search-bar__input {
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      padding: 5px 15px;
      padding-right: 35px;
      vertical-align: top;
      font-size: 1.2rem;
      line-height: 40px;
      font-family: 'Lato', sans-serif;
      border: 1px solid #8a0c25;
      border-radius: 3px; }
    header .search-bar button {
      position: absolute;
      right: 0;
      top: 50%;
      height: 40px;
      margin-top: -20px;
      background: none;
      border: none;
      vertical-align: middle;
      cursor: pointer; }

.fm-form-login {
  display: inline-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.fm-wrapper {
  padding: 30px;
  width: 350px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .fm-wrapper .fm-control {
    margin: 15px 0; }
    .fm-wrapper .fm-control .fm-lbl {
      display: inline-block;
      width: 80px;
      text-align: right;
      padding-right: 5px;
      font-size: 1.1rem;
      box-sizing: border-box; }
    .fm-wrapper .fm-control .fm-input {
      padding: 5px;
      width: 250px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1.1rem; }
    .fm-wrapper .fm-control input[type=submit] {
      display: block;
      margin: 15px auto 10px;
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #c50027;
      color: white;
      font-weight: bolder;
      font-size: 1.1rem;
      cursor: pointer; }

