html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400; }

.material-icons {
  vertical-align: middle; }

button, input, p, span, textarea {
  font-family: 'Lato', sans-serif; }

header {
  background: #c50027; }
  header .logo {
    width: 140px;
    text-align: center; }
    header .logo img {
      height: 100%; }
    header .logo a {
      padding: 0; }
      header .logo a:hover {
        background: #c50027; }
  header nav {
    position: relative;
    padding: 0 10px; }
  header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header ul li {
      list-style: none;
      border-width: 1px 1px 0 1px;
      height: 50px;
      line-height: 50px;
      white-space: nowrap; }
      header ul li:last-child {
        border-width: 1px 1px 0 0; }
      header ul li a {
        color: white;
        text-decoration: none;
        padding: 0 20px;
        height: 100%;
        box-sizing: border-box;
        display: block; }
        header ul li a:hover {
          background: #d0183d; }
  header .search-bar {
    margin: 0 auto;
    width: 55%;
    position: relative;
    padding: 5px 0;
    box-sizing: border-box; }
    header .search-bar .search-bar__input {
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      padding: 5px 15px;
      padding-right: 35px;
      vertical-align: top;
      font-size: 1.2rem;
      line-height: 40px;
      font-family: 'Lato', sans-serif;
      border: 1px solid #8a0c25; }
    header .search-bar button {
      position: absolute;
      right: 0;
      top: 50%;
      height: 40px;
      margin-top: -20px;
      background: none;
      border: none;
      vertical-align: middle;
      cursor: pointer; }

.btn {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #c50027;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  min-width: 10em;
  font-size: 1.1em; }
  .btn:hover {
    background-color: #d0183d; }

input, textarea {
  border-radius: 3px;
  border: 1px solid #808080;
  margin-bottom: 5px;
  padding: 5px; }

body {
  background: #eeeeee; }

.body-wrap {
  max-width: 1200px;
  margin: 15px auto;
  background: white;
  min-height: 80%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; }

.home-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .home-games .game {
    margin: 10px 5px;
    width: 200px;
    min-height: 360px;
    padding: 20px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .home-games .game .img-wrap {
      min-height: 300px;
      display: flex;
      align-items: center; }
    .home-games .game img {
      max-height: 300px;
      max-width: 200px;
      display: block;
      margin: 0 auto; }
    .home-games .game h2 {
      /*margin: 0;*/ }
    .home-games .game-price {
      float: right;
      line-height: 2.5em; }

.home-form > h2, .home-form > p {
  text-align: center; }

.fm-form-login, .fm-form-register {
  display: inline-flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .fm-form-login .fm-wrapper, .fm-form-register .fm-wrapper {
    padding: 30px;
    width: 350px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .fm-form-login .fm-wrapper .fm-control, .fm-form-register .fm-wrapper .fm-control {
      margin: 15px 0; }
      .fm-form-login .fm-wrapper .fm-control .fm-lbl, .fm-form-register .fm-wrapper .fm-control .fm-lbl {
        display: inline-block;
        width: 80px;
        text-align: right;
        padding-right: 5px;
        font-size: 1.1rem;
        box-sizing: border-box; }
      .fm-form-login .fm-wrapper .fm-control .fm-input, .fm-form-register .fm-wrapper .fm-control .fm-input {
        padding: 5px;
        width: 250px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1.1rem; }
      .fm-form-login .fm-wrapper .fm-control input[type=submit], .fm-form-register .fm-wrapper .fm-control input[type=submit] {
        display: block;
        margin: 15px auto 10px;
        width: 100%;
        padding: 10px 20px; }

.basket {
  padding: 0 15px; }
  .basket h2 {
    text-align: center; }
  .basket .btn-checkout {
    padding: 10px;
    margin: 10px 10px 0 0;
    width: 150px;
    float: right; }
  .basket-subtotal {
    float: right;
    margin: 20px 30px 0 0; }

.basket-item, .basket-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #808080; }
  .basket-item .header-item-quantity, .basket-item .header-item-price, .basket-header .header-item-quantity, .basket-header .header-item-price {
    margin-right: auto; }
  .basket-item .header-item-details, .basket-header .header-item-details {
    width: 63%; }
  .basket-item .item-details, .basket-header .item-details {
    display: flex;
    width: 63%;
    align-items: center; }
  .basket-item .item-img, .basket-header .item-img {
    height: 150px;
    border-radius: 1px; }
  .basket-item .item-quantity, .basket-item .item-price, .basket-header .item-quantity, .basket-header .item-price {
    margin-right: auto; }
  .basket-item .item-title, .basket-header .item-title {
    margin-left: 20px; }

.gamepage-game {
  display: flex;
  flex-wrap: wrap;
  padding: 50px; }
  .gamepage-game .left-col, .gamepage-game .right-col {
    position: relative; }
  .gamepage-game .right-col {
    width: 60%; }
  .gamepage-game .left-col {
    max-width: 250px;
    margin-right: 20px; }
  .gamepage-game .avg-star-rating .star-filled, .gamepage-game .user-review .star-filled {
    color: gold; }
  .gamepage-game .user-review {
    border-bottom: 1px solid #a3a3a3; }
    .gamepage-game .user-review .username, .gamepage-game .user-review .comment-stars {
      display: inline-block; }
    .gamepage-game .user-review .username {
      margin-right: 20px; }
      .gamepage-game .user-review .username img {
        vertical-align: middle;
        width: 40px;
        margin-right: 5px; }

.game-image {
  width: 250px; }

.game-description {
  margin-bottom: 50px; }

.game-review-area {
  width: 100%; }
  .game-review-area .star-rating {
    margin-bottom: 10px; }
    .game-review-area .star-rating .star {
      cursor: pointer; }

.game .price-area {
  max-width: 250px;
  float: right; }
  .game .price-area .btn-add-basket {
    width: 100%;
    display: block;
    height: 60px;
    border: none;
    background: #c50027;
    font-size: 1.5em;
    color: white;
    margin-top: 25px;
    padding: 15px;
    cursor: pointer; }
  .game .price-area_price {
    font-size: 1.5em; }
    .game .price-area_price span {
      float: right; }

.orders {
  padding: 0; }
  .orders li {
    display: block; }

.order {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 35px; }
  .order-header, .order-body {
    padding: 15px; }
  .order-header {
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #eeeeee;
    border-bottom: 1px solid #a3a3a3; }
  .order-body {
    padding: 15px; }
    .order-body h2 {
      margin: 0; }

.order-items {
  padding: 0; }
  .order-items .item {
    overflow: hidden;
    margin-top: 15px; }
    .order-items .item-image {
      width: 100px;
      position: relative;
      float: left; }
      .order-items .item-image img {
        width: 100%; }
    .order-items .item-title, .order-items .item-price {
      padding-left: 110px; }

.user-profile .fm-input {
  display: block;
  width: 20em;
  font-size: 1.1em; }

.user-profile .fm-footer {
  margin-top: 10px; }
  .user-profile .fm-footer .btn {
    padding: 10px 20px; }

.suggested-games-carousel {
  overflow-x: auto; }
  .suggested-games-carousel .game {
    min-width: 200px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
    .suggested-games-carousel .game .img-wrap {
      padding: 20px; }
      .suggested-games-carousel .game .img-wrap img {
        height: 200px; }

