body {
    background: $light-grey;
}
.body-wrap {
    max-width: 1200px;
    margin: 15px auto;
    background: white;
    min-height: 80%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}