header {
    background: $bg-color;

    .logo {
        width: 140px;
        text-align: center;

        img {
            height: 100%;
        }

        a {
            padding: 0;

            &:hover {
                background: $bg-color;
            }
        }
    }

    nav {
        position: relative;
        padding: 0 10px;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            list-style: none;
            border-width: 1px 1px 0 1px;
            height: 50px;
            line-height: 50px;
            white-space: nowrap;

            &:last-child {
                border-width: 1px 1px 0 0;
            }

            a {
                color: white;
                text-decoration: none;
                padding: 0 20px;
                height: 100%;
                box-sizing: border-box;
                display: block;

                &:hover {
                    background: $bg-hover;
                }
            }
        }
    }

    .search-bar {
        margin: 0 auto;
        width: 55%;
        position: relative;
        padding: 5px 0;
        box-sizing: border-box;

        .search-bar__input {
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 5px 15px;
            padding-right: 35px;
            vertical-align: top;
            font-size: 1.2rem;
            line-height: 40px;
            font-family: 'Lato', sans-serif;
            border: 1px solid $main-color-dark;
        }

        button {
            position: absolute;
            right: 0;
            top: 50%;
            height: 40px;
            margin-top: -20px;
            background: none;
            border: none;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}
